{% extends 'extend.html' %}
{% block body  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
        <div align=center>
            <a href="{{url_for('index1')}}"  button type="button" class="btn btn-outline-secondary"><h5>Question 1</h5></a><br><br>
            <a href="{{url_for('index2')}}"  button type="button" class="btn btn-outline-secondary"><h5>Question 2</h5></a><br><br>
            <a href="{{url_for('index3')}}"  button type="button" class="btn btn-outline-secondary"><h5>Question 3</h5></a><br><br>
        <div>
</body>
</html>
{% endblock  %}